<a href="https://colab.research.google.com/github/A1dana/A1dana.github.io/blob/master/ThesisALL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import csv
!pip install -q fuzzywuzzy

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

!pip install -q python-levenshtein

import difflib

In [25]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [26]:
df7=pd.read_csv("/content/gdrive/My Drive/Tags_2017Shared.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
df6=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/Tags_2016.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
df5=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/Tags_2015.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
#df5_6 = pd.merge(df5, df6, on = 'cik',  how ='outer') cant merge file too large

In [29]:
isBase = df5.isBase.str.strip('i,!%s()=bool')
df5.update(isBase)
bool('isBase')

isStatementFact = df5.isStatementFact.str.strip('i,!%s()=bool')
df5.update(isStatementFact)
bool('isStatementFact')

True

In [30]:
isBase = df6.isBase.str.strip('i,!%s()=bool')
df6.update(isBase)
bool('isBase')

isStatementFact = df6.isStatementFact.str.strip('i,!%s()=bool')
df6.update(isStatementFact)
bool('isStatementFact')

True

In [31]:
isBase = df7.isBase.str.strip('i,!%s()=bool')
df7.update(isBase)
bool('isBase')

isStatementFact = df7.isStatementFact.str.strip('i,!%s()=bool')
df7.update(isStatementFact)
bool('isStatementFact')

True

In [32]:
df=df5.append(df6)
df

,cik,elementName,FY,FQ,value,linkRole,isStatementFact,isBase
0,93314,dei_EntityCommonStockSharesOutstanding,2015,FY,1.886327e+07,NaN,true,true
1,93314,dei_EntityPublicFloat,2015,FY,5.077790e+07,NaN,true,true
2,93314,us-gaap_AccountsPayableAndAccruedLiabilitiesCu...,2015,FY,3.235130e+05,NaN,true,true
3,93314,us-gaap_AccumulatedAmortizationDeferredFinance...,2015,FY,7.003800e+04,NaN,false,true
4,93314,us-gaap_AccumulatedDepreciationDepletionAndAmo...,2015,FY,2.422010e+05,NaN,false,true
5,93314,us-gaap_AccumulatedOtherComprehensiveIncomeLos...,2015,FY,-8.417100e+04,NaN,true,true
6,93314,us-gaap_AdditionalPaidInCapital,2015,FY,3.514942e+07,NaN,true,true
7,93314,us-gaap_AmortizationOfIntangibleAssets,2015,FY,8.590100e+04,NaN,false,true
8,93314,us-gaap_Assets,2015,FY,7.711841e+06,NaN,true,true
9,93314,us-gaap_CapitalLeaseObligationsCurrent,2015,FY,8.133800e+04,NaN,true,true
10,93314,us-gaap_CapitalLeaseObligations,2015,FY,2.998630e+05,NaN,true,true
11,93314,us-gaap_AssetsCurrent,2015,FY,6.222655e+06,NaN,true,true
12,93314,us-gaap_CapitalLeasesFutureMinimumPaymentsDueI...,2015,FY,7.972300e+04,NaN,false,true
13,93314,us-gaap_CapitalLeasesFutureMinimumPaymentsDueI...,2015,FY,3.722800e+04,NaN,false,true
14,93314,us-gaap_CapitalLeasesFutureMinimumPaymentsDue,2015,FY,3.732560e+05,NaN,false,true
15,93314,us-gaap_CapitalLeasesFutureMinimumPaymentsDueI...,2015,FY,8.540100e+04,NaN,false,true
16,93314,us-gaap_CapitalLeasesFutureMinimumPaymentsDueI...,2015,FY,8.251300e+04,NaN,false,true
17,93314,us-gaap_CapitalLeasesFutureMinimumPaymentsDueT...,2015,FY,3.528890e+05,NaN,false,true
18,93314,us-gaap_CapitalLeasesFutureMinimumPaymentsRema...,2015,FY,8.839100e+04,NaN,false,true
19,93314,us-gaap_Cash,2015,FY,5.916006e+06,NaN,true,true
20,93314,us-gaap_CommonStockSharesAuthorized,2015,FY,1.000000e+08,NaN,true,true
21,93314,us-gaap_CommonStockParOrStatedValuePerShare,2015,FY,1.000000e-03,NaN,true,true
22,93314,us-gaap_CashAndCashEquivalentsPeriodIncreaseDe...,2015,FY,3.777042e+06,NaN,true,true
23,93314,us-gaap_CommonStockSharesIssued,2015,FY,1.876327e+07,NaN,true,true
24,93314,us-gaap_CommonStockSharesOutstanding,2015,FY,1.876327e+07,NaN,true,true
25,93314,us-gaap_CommonStockValue,2015,FY,1.876300e+04,NaN,true,true
26,93314,us-gaap_DeferredIncomeTaxExpenseBenefit,2015,FY,4.819100e+04,NaN,true,true
27,93314,us-gaap_ComprehensiveIncomeNetOfTax,2015,FY,-9.510581e+06,NaN,true,true
28,93314,us-gaap_DeferredTaxAssetsOperatingLossCarryfor...,2015,FY,5.792392e+06,NaN,false,true
29,93314,us-gaap_DeferredTaxAssetsValuationAllowance,2015,FY,5.792392e+06,NaN,false,true
...,...,...,...,...,...,...,...,...
2143071,1025561,us-gaap_NetCashProvidedByUsedInInvestingActivi...,2016,FY,-9.700000e+04,mtsl-csocf,true,true
2143072,1025561,us-gaap_CostOfGoodsAndServicesSold,2016,FY,1.120000e+05,NaN,false,true
2143073,1025561,us-gaap_CashAndCashEquivalentsAtCarryingValueBB,2016,FY,1.668000e+06,mtsl-csocf,true,true
2143074,1446687,fil_EconomicDevelopmentIncentiveAgreementAnnua...,2016,FY,3.000000e+05,RealEstateAdditionalInformationDetails,false,false
2143075,1446687,us-gaap_RealEstateGrossAtCarryingValue,2016,FY,2.530990e+08,ScheduleIIIRealEstateAssetsandAccumulatedDepre...,false,true
2143076,1446687,us-gaap_StockholdersEquityIncludingPortionAttr...,2016,FY,1.164310e+08,CONSOLIDATEDBALANCESHEETS,true,true
2143077,1446687,us-gaap_SharesOutstanding,2016,FY,0.000000e+00,NaN,true,true
2143078,1100644,us-gaap_SharesOutstanding,2016,FY,0.000000e+00,NaN,true,true
2143079,1561694,ifrs-full_CurrentInterestReceivable,2016,FY,5.000000e+05,NaN,false,true
2143080,1561694,ifrs-full_CurrentPrepayments,2016,FY,2.170000e+07,NaN,false,true
2143081,1561694,ifrs-full_CurrentTaxExpenseIncomeAndAdjustment...,2016,FY,4.130000e+07,StatementConsolidatedIncomeStatement,true,true
2143082,1561694,ifrs-full_CurrentValueAddedTaxReceivables,2016,FY,2.350000e+07,NaN,false,true
2143083,1561694,ifrs-full_RevenueFromContractsWithCustomers,2016,FY,2.275200e+09,StatementConsolidatedIncomeStatement,true,true
2143084,1561694,sbgl_CurrentTradeAndOtherPayablesExcludingEmpl...,2016,FY,2.332000e+08,DisclosureTradeAndOtherPayablesDetails,false,false
2143085,1561694,sbgl_DebtInstrumentConsolidatedLeverageRatioAc...,2016,FY,6.000000e-01,DisclosureBorrowingsCapitalManagementDetails,false,false
2143086,1561694,sbgl_EnvironmentalRehabilitationObligationChar...,2016,FY,7.100000e+06,DisclosureEnvironmentalRehabilitationObligatio...,false,false
2143087,1561694,sbgl_LongtermProvisionForRehabilitationCosts,2016,FY,2.900000e+08,DisclosureEnvironmentalRehabilitationObligatio...,false,false
2143088,1561694,sbgl_NonTaxableGainNonDeductibleLossOnFairValu...,2016,FY,-1.000000e+05,DisclosureRoyaltiesAndMiningAndIncomeTaxRateRe...,false,false
2143089,1561694,sbgl_UndrawnBorrowingFacilitiesCommitted,2016,FY,3.148000e+08,DisclosureBorrowingsInterestRateChangesDetails,false,false
2143090,1561694,sbgl_UndrawnBorrowingFacilitiesUncommitted,2016,FY,1.460000e+07,DisclosureBorrowingsInterestRateChangesDetails,false,false
2143091,1561694,ifrs-full_CurrentTradeReceivables,2016,FY,3.617000e+08,NaN,false,true
2143092,1561694,ifrs-full_ProportionOfOwnershipInterestInAssoc...,2016,FY,3.310000e-01,NaN,false,true
2143093,1561694,ifrs-full_RiskExposureAssociatedWithInstrument...,2016,FY,0.000000e+00,NaN,false,true
2143094,1561694,ifrs-full_ShareOfProfitLossOfJointVenturesAcco...,2016,FY,-8.500000e+06,NaN,false,true
2143095,1561694,sbgl_NetOtherCashCostsAdjustment,2016,FY,0.000000e+00,NaN,false,false
2143096,1561694,sbgl_PeriodOfTimeForWhichResultsAreIncluded,2016,FY,0.000000e+00,NaN,false,false
2143097,1561694,ifrs-full_LiabilitiesFromSharebasedPaymentTran...,2016,FY,3.870000e+07,DisclosureShareBasedPaymentsShareBasedObligati...,false,true
2143098,1561694,ifrs-full_DeferredTaxLiabilityAssetBB,2016,FY,2.258000e+08,DisclosureRoyaltiesAndMiningAndIncomeTaxAndDef...,false,true
2143099,1561694,sbgl_NetTaxAndRoyaltiesBB,2016,FY,8.400000e+06,DisclosureRoyaltiesAndMiningAndIncomeTaxAndDef...,false,false
2143100,1576789,wix_IncreaseDecreaseInDeferredRevenueTotal,2016,FY,5.196600e+07,NaN,true,false

In [0]:
df = df.append(df7)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6561207 entries, 0 to 2197138
Data columns (total 8 columns):
cik                object
elementName        object
FY                 int64
FQ                 object
value              float64
linkRole           object
isStatementFact    object
isBase             object
dtypes: float64(1), int64(1), object(6)
memory usage: 450.5+ MB

In [0]:
df = df.drop(columns=['linkRole'])

In [0]:
df['ext'] = np.where(df['isBase']== 'false', 1, 0)

In [0]:
df = df.groupby(['cik','isBase','FY',])['ext'].agg('count').reset_index(name='count')

In [0]:
df['totcount'] = df.groupby(['cik','FY']).transform(sum)['count']

In [39]:
df['fraction'] = df['count'] / df['totcount']
df['percent'] = df['fraction'] * 100
df.head()

    cik isBase    FY  count totcount  fraction  percent
0  1750  false  2015     78      406  0.192118  19.2118
1  1750  false  2016     73      379  0.192612  19.2612
2  1750  false  2017     62      367  0.168937  16.8937
3  1750   true  2015    328      406  0.807882  80.7882
4  1750   true  2016    306      379  0.807388  80.7388

In [0]:
df.drop_duplicates(keep='first',inplace=True)

In [42]:
df.dropna(subset=['cik']).head()

    cik isBase    FY  count totcount  fraction  percent
0  1750  false  2015     78      406  0.192118  19.2118
1  1750  false  2016     73      379  0.192612  19.2612
2  1750  false  2017     62      367  0.168937  16.8937
3  1750   true  2015    328      406  0.807882  80.7882
4  1750   true  2016    306      379  0.807388  80.7388

In [0]:
df.to_csv("/content/gdrive/My Drive/Colab Notebooks/YALL.csv")

In [0]:
dfx=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/xall.csv")

In [45]:
dfx.head()

,Unnamed: 0,Unnamed: 0.1,FY,conm,at,intan,cik,rank,au,auop,sic
0,0,0,2015.0,AAR CORP,1442.1,168.6,1750.0,1.0,6.0,1.0,5080
1,1,1,2016.0,AAR CORP,1504.1,162.6,1750.0,1.0,6.0,1.0,5080
2,2,2,2017.0,AAR CORP,1524.7,157.1,1750.0,1.0,6.0,1.0,5080
3,3,3,2015.0,AMERICAN AIRLINES GROUP INC,48415.0,6340.0,6201.0,1.0,6.0,1.0,4512
4,4,4,2016.0,AMERICAN AIRLINES GROUP INC,51274.0,6264.0,6201.0,1.0,6.0,1.0,4512

In [0]:
dfx = dfx.rename(columns={'fyear': 'FY'})

In [48]:
dfx.groupby(['cik','FY',]).head()

,Unnamed: 0,Unnamed: 0.1,FY,conm,at,intan,cik,rank,au,auop,sic
0,0,0,2015.0,AAR CORP,1442.100,168.600,1750.0,1.0,6.0,1.0,5080
1,1,1,2016.0,AAR CORP,1504.100,162.600,1750.0,1.0,6.0,1.0,5080
2,2,2,2017.0,AAR CORP,1524.700,157.100,1750.0,1.0,6.0,1.0,5080
3,3,3,2015.0,AMERICAN AIRLINES GROUP INC,48415.000,6340.000,6201.0,1.0,6.0,1.0,4512
4,4,4,2016.0,AMERICAN AIRLINES GROUP INC,51274.000,6264.000,6201.0,1.0,6.0,1.0,4512
5,5,5,2017.0,AMERICAN AIRLINES GROUP INC,51396.000,6294.000,6201.0,1.0,6.0,1.0,4512
6,6,6,2015.0,CECO ENVIRONMENTAL CORP,598.819,321.457,3197.0,1.0,11.0,1.0,3564
7,7,7,2016.0,CECO ENVIRONMENTAL CORP,498.634,252.923,3197.0,1.0,11.0,1.0,3564
8,8,8,2017.0,CECO ENVIRONMENTAL CORP,438.549,236.598,3197.0,1.0,11.0,1.0,3564
9,9,15,2015.0,AVX CORP,2409.819,270.605,859163.0,1.0,7.0,1.0,3670
10,10,16,2016.0,AVX CORP,2477.413,266.701,859163.0,1.0,7.0,1.0,3670
11,11,17,2017.0,AVX CORP,2672.766,444.910,859163.0,1.0,7.0,1.0,3670
12,12,18,2015.0,PINNACLE WEST CAPITAL CORP,15028.258,NaN,764622.0,1.0,5.0,1.0,4911
13,13,19,2016.0,PINNACLE WEST CAPITAL CORP,16004.253,90.022,764622.0,1.0,5.0,1.0,4911
14,14,20,2017.0,PINNACLE WEST CAPITAL CORP,17019.082,257.189,764622.0,1.0,5.0,1.0,4911
15,15,21,2015.0,AARON'S INC,2658.875,815.387,706688.0,1.0,4.0,1.0,7359
16,16,22,2016.0,AARON'S INC,2615.736,774.395,706688.0,1.0,4.0,1.0,7359
17,17,23,2017.0,AARON'S INC,2692.264,858.499,706688.0,1.0,4.0,1.0,7359
18,18,24,2015.0,ABBOTT LABORATORIES,41247.000,15200.000,1800.0,1.0,4.0,4.0,2834
19,19,25,2016.0,ABBOTT LABORATORIES,52666.000,12222.000,1800.0,1.0,4.0,1.0,2834
20,20,26,2017.0,ABBOTT LABORATORIES,76250.000,45493.000,1800.0,1.0,4.0,1.0,2834
21,21,27,2015.0,WORLDS INC,0.026,0.000,1961.0,1.0,9.0,4.0,7370
22,22,28,2016.0,WORLDS INC,0.093,0.000,1961.0,1.0,9.0,4.0,7370
23,23,29,2017.0,WORLDS INC,0.184,0.000,1961.0,1.0,9.0,4.0,7370
24,24,30,2015.0,ACETO CORP,489.774,146.867,2034.0,1.0,11.0,1.0,5160
25,25,31,2016.0,ACETO CORP,540.778,146.942,2034.0,1.0,11.0,1.0,5160
26,26,32,2017.0,ACETO CORP,1038.185,522.051,2034.0,1.0,11.0,1.0,5160
27,27,33,2015.0,MORGUARD CORP,8602.132,41.611,NaN,1.0,4.0,1.0,6500
28,28,34,2016.0,MORGUARD CORP,9588.078,38.392,NaN,1.0,4.0,1.0,6500
29,29,35,2017.0,MORGUARD CORP,10111.986,64.393,NaN,1.0,4.0,1.0,6500
...,...,...,...,...,...,...,...,...,...,...,...
19638,19638,33406,2016.0,ALLEGION PLC,2247.400,1074.200,1579241.0,1.0,7.0,1.0,3420
19639,19639,33407,2017.0,ALLEGION PLC,2542.000,1155.500,1579241.0,1.0,7.0,1.0,3420
19643,19643,33411,2015.0,NORDIC AMERICAN OFFSHORE,337.367,0.000,1597659.0,1.0,6.0,1.0,4412
19644,19644,33412,2016.0,NORDIC AMERICAN OFFSHORE,374.854,0.000,1597659.0,1.0,6.0,1.0,4412
19645,19645,33413,2017.0,NORDIC AMERICAN OFFSHORE,387.711,0.000,1597659.0,1.0,6.0,1.0,4412
19646,19646,33414,2015.0,DORIAN LPG LTD,1865.926,0.000,1596993.0,1.0,5.0,1.0,4412
19647,19647,33415,2016.0,DORIAN LPG LTD,1746.235,0.000,1596993.0,1.0,5.0,1.0,4412
19648,19648,33416,2017.0,DORIAN LPG LTD,1736.110,0.000,1596993.0,1.0,5.0,1.0,4412
19649,19649,33417,2015.0,NOMAD FOODS LTD,5353.161,3699.010,1651717.0,1.0,7.0,1.0,2030
19650,19650,33418,2016.0,NOMAD FOODS LTD,4969.464,3663.865,1651717.0,1.0,7.0,1.0,2030
19651,19651,33419,2017.0,NOMAD FOODS LTD,5532.164,4171.635,1651717.0,1.0,7.0,1.0,2030
19652,19652,33420,2015.0,ARGEN-X SE,49.910,0.008,1697862.0,1.0,5.0,1.0,2836
19653,19653,33421,2016.0,ARGEN-X SE,111.611,0.018,1697862.0,1.0,5.0,1.0,2836
19654,19654,33422,2017.0,ARGEN-X SE,445.906,0.016,1697862.0,1.0,5.0,1.0,2836
19655,19655,33429,2015.0,MIDATECH PHARMA PLC,94.435,60.959,1643918.0,1.0,11.0,1.0,2836
19656,19656,33430,2016.0,MIDATECH PHARMA PLC,69.937,38.457,1643918.0,1.0,11.0,1.0,2836
19657,19657,33431,2017.0,MIDATECH PHARMA PLC,66.595,37.404,1643918.0,1.0,11.0,4.0,2836
19658,19658,33432,2015.0,MOTIF BIO PLC,34.958,6.196,1674657.0,1.0,7.0,4.0,2836
19659,19659,33433,2016.0,MOTIF BIO PLC,28.426,6.195,1674657.0,1.0,7.0,4.0,2836
19660,19660,33434,2017.0,MOTIF BIO PLC,29.188,6.196,1674657.0,1.0,7.0,4.0,2836
19661,19661,33435,2016.0,ASLAN PHARMACEUTIC,53.714,0.084,1722926.0,1.0,5.0,1.0,2836
19662,19662,33436,2017.0,ASLAN PHARMACEUTIC,51.334,0.084,1722926.0,1.0,5.0,1.0,2836
19666,19666,33441,2016.0,NVENT ELECTRIC PLC,4493.800,3529.900,1720635.0,1.0,5.0,4.0,3440
19667,19667,33442,2017.0,NVENT ELECTRIC PLC,4725.000,3474.800,1720635.0,1.0,5.0,4.0,3440
19668,19668,33444,2016.0,GRINDROD SHIPPING,590.154,22.612,1725293.0,1.0,5.0,1.0,4412
19669,19669,33445,2017.0,GRINDROD SHIPPING,507.122,8.480,1725293.0,1.0,5.0,1.0,4412
19670,19670,33446,2017.0,NAVIOS MARITIME CONTAINERS,266.811,58.496,1707210.0,1.0,4.0,1.0,4412
19671,19671,33448,2016.0,ARCOSA INC,1526.300,537.400,1739445.0,1.0,4.0,1.0,3440
19672,19672,33449,2017.0,ARCOSA INC,1602.500,558.700,1739445.0,1.0,4.0,1.0,3440
19673,19673,33450,2017.0,CASTOR MARITIME INC,8.718,0.000,1720161.0,1.0,5.0,1.0,4412

In [0]:
dfx.drop_duplicates(keep='first',inplace=True)

In [0]:
dfx = dfx.dropna(subset=['au'])

In [51]:
dfx.dropna(subset=['cik']).head()

,Unnamed: 0,Unnamed: 0.1,FY,conm,at,intan,cik,rank,au,auop,sic
0,0,0,2015.0,AAR CORP,1442.1,168.6,1750.0,1.0,6.0,1.0,5080
1,1,1,2016.0,AAR CORP,1504.1,162.6,1750.0,1.0,6.0,1.0,5080
2,2,2,2017.0,AAR CORP,1524.7,157.1,1750.0,1.0,6.0,1.0,5080
3,3,3,2015.0,AMERICAN AIRLINES GROUP INC,48415.0,6340.0,6201.0,1.0,6.0,1.0,4512
4,4,4,2016.0,AMERICAN AIRLINES GROUP INC,51274.0,6264.0,6201.0,1.0,6.0,1.0,4512

In [0]:
dfx.to_csv("/content/gdrive/My Drive/Colab Notebooks/xall.csv")

In [0]:
dfseg = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/segcount.csv")

In [54]:
dfseg.head()

      cik    FY     sic  sid  conm
0  1750.0  2015  5080.0   18    18
1  1750.0  2016  5080.0   18    18
2  1750.0  2017  5080.0   12    12
3  1800.0  2015  2834.0   64    64
4  1800.0  2016  2834.0   43    43

In [0]:
merged = pd.merge(df, dfx, on = ['cik','FY'],  how ='outer')

In [56]:
merged

,cik,isBase,FY,count,totcount,fraction,percent,Unnamed: 0,Unnamed: 0.1,conm,at,intan,rank,au,auop,sic
0,1750,false,2015.0,78.0,406,0.192118,19.2118,0.0,0.0,AAR CORP,1442.100,168.600,1.0,6.0,1.0,5080.0
1,1750,true,2015.0,328.0,406,0.807882,80.7882,0.0,0.0,AAR CORP,1442.100,168.600,1.0,6.0,1.0,5080.0
2,1750,false,2016.0,73.0,379,0.192612,19.2612,1.0,1.0,AAR CORP,1504.100,162.600,1.0,6.0,1.0,5080.0
3,1750,true,2016.0,306.0,379,0.807388,80.7388,1.0,1.0,AAR CORP,1504.100,162.600,1.0,6.0,1.0,5080.0
4,1750,false,2017.0,62.0,367,0.168937,16.8937,2.0,2.0,AAR CORP,1524.700,157.100,1.0,6.0,1.0,5080.0
5,1750,true,2017.0,305.0,367,0.831063,83.1063,2.0,2.0,AAR CORP,1524.700,157.100,1.0,6.0,1.0,5080.0
6,1800,false,2015.0,65.0,443,0.146727,14.6727,18.0,24.0,ABBOTT LABORATORIES,41247.000,15200.000,1.0,4.0,4.0,2834.0
7,1800,true,2015.0,378.0,443,0.853273,85.3273,18.0,24.0,ABBOTT LABORATORIES,41247.000,15200.000,1.0,4.0,4.0,2834.0
8,1800,false,2016.0,54.0,425,0.127059,12.7059,19.0,25.0,ABBOTT LABORATORIES,52666.000,12222.000,1.0,4.0,1.0,2834.0
9,1800,true,2016.0,371.0,425,0.872941,87.2941,19.0,25.0,ABBOTT LABORATORIES,52666.000,12222.000,1.0,4.0,1.0,2834.0
10,1800,false,2017.0,52.0,408,0.127451,12.7451,20.0,26.0,ABBOTT LABORATORIES,76250.000,45493.000,1.0,4.0,1.0,2834.0
11,1800,true,2017.0,356.0,408,0.872549,87.2549,20.0,26.0,ABBOTT LABORATORIES,76250.000,45493.000,1.0,4.0,1.0,2834.0
12,1961,false,2015.0,66.0,166,0.39759,39.759,21.0,27.0,WORLDS INC,0.026,0.000,1.0,9.0,4.0,7370.0
13,1961,true,2015.0,100.0,166,0.60241,60.241,21.0,27.0,WORLDS INC,0.026,0.000,1.0,9.0,4.0,7370.0
14,1961,false,2016.0,48.0,123,0.390244,39.0244,22.0,28.0,WORLDS INC,0.093,0.000,1.0,9.0,4.0,7370.0
15,1961,true,2016.0,75.0,123,0.609756,60.9756,22.0,28.0,WORLDS INC,0.093,0.000,1.0,9.0,4.0,7370.0
16,1961,false,2017.0,50.0,142,0.352113,35.2113,23.0,29.0,WORLDS INC,0.184,0.000,1.0,9.0,4.0,7370.0
17,1961,true,2017.0,92.0,142,0.647887,64.7887,23.0,29.0,WORLDS INC,0.184,0.000,1.0,9.0,4.0,7370.0
18,2034,false,2015.0,32.0,291,0.109966,10.9966,24.0,30.0,ACETO CORP,489.774,146.867,1.0,11.0,1.0,5160.0
19,2034,true,2015.0,259.0,291,0.890034,89.0034,24.0,30.0,ACETO CORP,489.774,146.867,1.0,11.0,1.0,5160.0
20,2034,false,2016.0,38.0,332,0.114458,11.4458,25.0,31.0,ACETO CORP,540.778,146.942,1.0,11.0,1.0,5160.0
21,2034,true,2016.0,294.0,332,0.885542,88.5542,25.0,31.0,ACETO CORP,540.778,146.942,1.0,11.0,1.0,5160.0
22,2034,false,2017.0,35.0,333,0.105105,10.5105,26.0,32.0,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0
23,2034,true,2017.0,298.0,333,0.894895,89.4895,26.0,32.0,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0
24,2098,false,2015.0,11.0,246,0.0447154,4.47154,33.0,39.0,ACME UNITED CORP,81.421,13.357,1.0,9.0,1.0,3420.0
25,2098,true,2015.0,235.0,246,0.955285,95.5285,33.0,39.0,ACME UNITED CORP,81.421,13.357,1.0,9.0,1.0,3420.0
26,2098,false,2016.0,12.0,263,0.0456274,4.56274,34.0,40.0,ACME UNITED CORP,92.066,17.936,1.0,9.0,1.0,3420.0
27,2098,true,2016.0,251.0,263,0.954373,95.4373,34.0,40.0,ACME UNITED CORP,92.066,17.936,1.0,9.0,1.0,3420.0
28,2098,false,2017.0,19.0,259,0.0733591,7.33591,35.0,41.0,ACME UNITED CORP,114.730,22.578,1.0,9.0,1.0,3420.0
29,2098,true,2017.0,240.0,259,0.926641,92.6641,35.0,41.0,ACME UNITED CORP,114.730,22.578,1.0,9.0,1.0,3420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54922,1.72289e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19612.0,33380.0,TAIWAN LIPOSOME CO LTD,42.596,0.291,1.0,7.0,4.0,2836.0
54923,1.38196e+06,NaN,2015.0,NaN,NaN,NaN,NaN,19613.0,33381.0,LED MEDICAL DIAGNOSTICS INC,9.913,0.011,1.0,17.0,4.0,3845.0
54924,1.38196e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19614.0,33382.0,LED MEDICAL DIAGNOSTICS INC,2.670,0.000,1.0,17.0,4.0,3845.0
54925,1.38196e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19615.0,33383.0,LED MEDICAL DIAGNOSTICS INC,14.857,9.488,1.0,17.0,4.0,3845.0
54926,1.12313e+06,NaN,2015.0,NaN,NaN,NaN,NaN,19628.0,33396.0,CHIPMOS TECHNOLOGIES INC,1003.618,0.000,1.0,7.0,1.0,3679.0
54927,1.12313e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19629.0,33397.0,CHIPMOS TECHNOLOGIES INC,965.925,0.000,1.0,7.0,1.0,3679.0
54928,1.12313e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19630.0,33398.0,CHIPMOS TECHNOLOGIES INC,1122.130,0.000,1.0,7.0,1.0,3679.0
54929,1.63789e+06,NaN,2015.0,NaN,NaN,NaN,NaN,19631.0,33399.0,CELYAD SA,173.228,52.981,1.0,9.0,1.0,2836.0
54930,1.63789e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19632.0,33400.0,CELYAD SA,146.468,52.301,1.0,7.0,1.0,2836.0
54931,1.63789e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19633.0,33401.0,CELYAD SA,93.322,43.890,1.0,11.0,1.0,2836.0
54932,1.59699e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19648.0,33416.0,DORIAN LPG LTD,1736.110,0.000,1.0,5.0,1.0,4412.0
54933,1.65172e+06,NaN,2015.0,NaN,NaN,NaN,NaN,19649.0,33417.0,NOMAD FOODS LTD,5353.161,3699.010,1.0,7.0,1.0,2030.0
54934,1.65172e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19650.0,33418.0,NOMAD FOODS LTD,4969.464,3663.865,1.0,7.0,1.0,2030.0
54935,1.65172e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19651.0,33419.0,NOMAD FOODS LTD,5532.164,4171.635,1.0,7.0,1.0,2030.0
54936,1.69786e+06,NaN,2015.0,NaN,NaN,NaN,NaN,19652.0,33420.0,ARGEN-X SE,49.910,0.008,1.0,5.0,1.0,2836.0
54937,1.64392e+06,NaN,2015.0,NaN,NaN,NaN,NaN,19655.0,33429.0,MIDATECH PHARMA PLC,94.435,60.959,1.0,11.0,1.0,2836.0
54938,1.64392e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19657.0,33431.0,MIDATECH PHARMA PLC,66.595,37.404,1.0,11.0,4.0,2836.0
54939,1.67466e+06,NaN,2015.0,NaN,NaN,NaN,NaN,19658.0,33432.0,MOTIF BIO PLC,34.958,6.196,1.0,7.0,4.0,2836.0
54940,1.67466e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19659.0,33433.0,MOTIF BIO PLC,28.426,6.195,1.0,7.0,4.0,2836.0
54941,1.67466e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19660.0,33434.0,MOTIF BIO PLC,29.188,6.196,1.0,7.0,4.0,2836.0
54942,1.72293e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19661.0,33435.0,ASLAN PHARMACEUTIC,53.714,0.084,1.0,5.0,1.0,2836.0
54943,1.72293e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19662.0,33436.0,ASLAN PHARMACEUTIC,51.334,0.084,1.0,5.0,1.0,2836.0
54944,1.72064e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19666.0,33441.0,NVENT ELECTRIC PLC,4493.800,3529.900,1.0,5.0,4.0,3440.0
54945,1.72064e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19667.0,33442.0,NVENT ELECTRIC PLC,4725.000,3474.800,1.0,5.0,4.0,3440.0
54946,1.72529e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19668.0,33444.0,GRINDROD SHIPPING,590.154,22.612,1.0,5.0,1.0,4412.0
54947,1.72529e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19669.0,33445.0,GRINDROD SHIPPING,507.122,8.480,1.0,5.0,1.0,4412.0
54948,1.70721e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19670.0,33446.0,NAVIOS MARITIME CONTAINERS,266.811,58.496,1.0,4.0,1.0,4412.0
54949,1.73944e+06,NaN,2016.0,NaN,NaN,NaN,NaN,19671.0,33448.0,ARCOSA INC,1526.300,537.400,1.0,4.0,1.0,3440.0
54950,1.73944e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19672.0,33449.0,ARCOSA INC,1602.500,558.700,1.0,4.0,1.0,3440.0
54951,1.72016e+06,NaN,2017.0,NaN,NaN,NaN,NaN,19673.0,33450.0,CASTOR MARITIME INC,8.718,0.000,1.0,5.0,1.0,4412.0

In [0]:
merged = merged[merged.isBase != 'true']

In [58]:
merged.head()

,cik,isBase,FY,count,totcount,fraction,percent,Unnamed: 0,Unnamed: 0.1,conm,at,intan,rank,au,auop,sic
0,1750,false,2015.0,78.0,406,0.192118,19.2118,0.0,0.0,AAR CORP,1442.1,168.6,1.0,6.0,1.0,5080.0
2,1750,false,2016.0,73.0,379,0.192612,19.2612,1.0,1.0,AAR CORP,1504.1,162.6,1.0,6.0,1.0,5080.0
4,1750,false,2017.0,62.0,367,0.168937,16.8937,2.0,2.0,AAR CORP,1524.7,157.1,1.0,6.0,1.0,5080.0
6,1800,false,2015.0,65.0,443,0.146727,14.6727,18.0,24.0,ABBOTT LABORATORIES,41247.0,15200.0,1.0,4.0,4.0,2834.0
8,1800,false,2016.0,54.0,425,0.127059,12.7059,19.0,25.0,ABBOTT LABORATORIES,52666.0,12222.0,1.0,4.0,1.0,2834.0

In [59]:
merged.drop_duplicates(keep='first',inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
merged = merged.drop(columns=['fraction','Unnamed: 0','Unnamed: 0.1'])

In [62]:
merged.head()

,cik,isBase,FY,count,totcount,percent,conm,at,intan,rank,au,auop,sic
0,1750,false,2015.0,78.0,406,19.2118,AAR CORP,1442.1,168.6,1.0,6.0,1.0,5080.0
2,1750,false,2016.0,73.0,379,19.2612,AAR CORP,1504.1,162.6,1.0,6.0,1.0,5080.0
4,1750,false,2017.0,62.0,367,16.8937,AAR CORP,1524.7,157.1,1.0,6.0,1.0,5080.0
6,1800,false,2015.0,65.0,443,14.6727,ABBOTT LABORATORIES,41247.0,15200.0,1.0,4.0,4.0,2834.0
8,1800,false,2016.0,54.0,425,12.7059,ABBOTT LABORATORIES,52666.0,12222.0,1.0,4.0,1.0,2834.0

In [0]:
dfseg = dfseg.drop(columns=['sic'])

In [0]:
all = pd.merge(merged, dfseg, on = ['cik','FY'],  how ='outer')

In [65]:
all.head()

,cik,isBase,FY,count,totcount,percent,conm_x,at,intan,rank,au,auop,sic,sid,conm_y
0,1750,false,2015.0,78.0,406,19.2118,AAR CORP,1442.1,168.6,1.0,6.0,1.0,5080.0,18.0,18.0
1,1750,false,2016.0,73.0,379,19.2612,AAR CORP,1504.1,162.6,1.0,6.0,1.0,5080.0,18.0,18.0
2,1750,false,2017.0,62.0,367,16.8937,AAR CORP,1524.7,157.1,1.0,6.0,1.0,5080.0,12.0,12.0
3,1800,false,2015.0,65.0,443,14.6727,ABBOTT LABORATORIES,41247.0,15200.0,1.0,4.0,4.0,2834.0,64.0,64.0
4,1800,false,2016.0,54.0,425,12.7059,ABBOTT LABORATORIES,52666.0,12222.0,1.0,4.0,1.0,2834.0,43.0,43.0

In [0]:
all.to_csv("/content/gdrive/My Drive/Colab Notebooks/all.csv")

In [0]:
aa=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/AuditAnalytics.csv")

In [0]:
df = pd.merge(all, aa, on = ['cik','FY'],  how ='outer')

In [69]:
df

,cik,isBase,FY,count,totcount,percent,conm_x,at,intan,rank,au,auop,sic,sid,conm_y,COUNT_WEAK,NOTEFF_OTHER
0,1750,false,2015.0,78.0,406,19.2118,AAR CORP,1442.100,168.600,1.0,6.0,1.0,5080.0,18.0,18.0,0.0,0.0
1,1750,false,2015.0,78.0,406,19.2118,AAR CORP,1442.100,168.600,1.0,6.0,1.0,5080.0,18.0,18.0,0.0,0.0
2,1750,false,2016.0,73.0,379,19.2612,AAR CORP,1504.100,162.600,1.0,6.0,1.0,5080.0,18.0,18.0,0.0,0.0
3,1750,false,2016.0,73.0,379,19.2612,AAR CORP,1504.100,162.600,1.0,6.0,1.0,5080.0,18.0,18.0,0.0,0.0
4,1750,false,2017.0,62.0,367,16.8937,AAR CORP,1524.700,157.100,1.0,6.0,1.0,5080.0,12.0,12.0,0.0,0.0
5,1750,false,2017.0,62.0,367,16.8937,AAR CORP,1524.700,157.100,1.0,6.0,1.0,5080.0,12.0,12.0,0.0,0.0
6,1800,false,2015.0,65.0,443,14.6727,ABBOTT LABORATORIES,41247.000,15200.000,1.0,4.0,4.0,2834.0,64.0,64.0,0.0,0.0
7,1800,false,2015.0,65.0,443,14.6727,ABBOTT LABORATORIES,41247.000,15200.000,1.0,4.0,4.0,2834.0,64.0,64.0,0.0,0.0
8,1800,false,2016.0,54.0,425,12.7059,ABBOTT LABORATORIES,52666.000,12222.000,1.0,4.0,1.0,2834.0,43.0,43.0,0.0,0.0
9,1800,false,2016.0,54.0,425,12.7059,ABBOTT LABORATORIES,52666.000,12222.000,1.0,4.0,1.0,2834.0,43.0,43.0,0.0,0.0
10,1800,false,2017.0,52.0,408,12.7451,ABBOTT LABORATORIES,76250.000,45493.000,1.0,4.0,1.0,2834.0,22.0,22.0,0.0,0.0
11,1800,false,2017.0,52.0,408,12.7451,ABBOTT LABORATORIES,76250.000,45493.000,1.0,4.0,1.0,2834.0,22.0,22.0,0.0,0.0
12,1961,false,2015.0,66.0,166,39.759,WORLDS INC,0.026,0.000,1.0,9.0,4.0,7370.0,3.0,3.0,0.0,0.0
13,1961,false,2016.0,48.0,123,39.0244,WORLDS INC,0.093,0.000,1.0,9.0,4.0,7370.0,2.0,2.0,0.0,0.0
14,1961,false,2017.0,50.0,142,35.2113,WORLDS INC,0.184,0.000,1.0,9.0,4.0,7370.0,1.0,1.0,0.0,0.0
15,2034,false,2015.0,32.0,291,10.9966,ACETO CORP,489.774,146.867,1.0,11.0,1.0,5160.0,27.0,27.0,0.0,0.0
16,2034,false,2015.0,32.0,291,10.9966,ACETO CORP,489.774,146.867,1.0,11.0,1.0,5160.0,27.0,27.0,0.0,0.0
17,2034,false,2016.0,38.0,332,11.4458,ACETO CORP,540.778,146.942,1.0,11.0,1.0,5160.0,27.0,27.0,0.0,0.0
18,2034,false,2016.0,38.0,332,11.4458,ACETO CORP,540.778,146.942,1.0,11.0,1.0,5160.0,27.0,27.0,0.0,0.0
19,2034,false,2017.0,35.0,333,10.5105,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0,18.0,18.0,1.0,5.0
20,2034,false,2017.0,35.0,333,10.5105,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0,18.0,18.0,0.0,0.0
21,2034,false,2017.0,35.0,333,10.5105,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0,18.0,18.0,1.0,5.0
22,2034,false,2017.0,35.0,333,10.5105,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0,18.0,18.0,0.0,0.0
23,2098,false,2015.0,11.0,246,4.47154,ACME UNITED CORP,81.421,13.357,1.0,9.0,1.0,3420.0,12.0,12.0,0.0,0.0
24,2098,false,2016.0,12.0,263,4.56274,ACME UNITED CORP,92.066,17.936,1.0,9.0,1.0,3420.0,8.0,8.0,0.0,0.0
25,2098,false,2017.0,19.0,259,7.33591,ACME UNITED CORP,114.730,22.578,1.0,9.0,1.0,3420.0,4.0,4.0,0.0,0.0
26,2098,false,2017.0,19.0,259,7.33591,ACME UNITED CORP,114.730,22.578,1.0,9.0,1.0,3420.0,4.0,4.0,0.0,0.0
27,2178,false,2015.0,62.0,295,21.0169,ADAMS RESOURCES & ENERGY INC,243.215,0.000,1.0,5.0,4.0,5172.0,15.0,15.0,0.0,0.0
28,2178,false,2015.0,62.0,295,21.0169,ADAMS RESOURCES & ENERGY INC,243.215,0.000,1.0,5.0,4.0,5172.0,15.0,15.0,0.0,0.0
29,2178,false,2016.0,63.0,311,20.2572,ADAMS RESOURCES & ENERGY INC,246.872,0.000,1.0,5.0,1.0,5172.0,10.0,10.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060365,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060366,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060367,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060368,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060369,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060370,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060371,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060372,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060373,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060374,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060375,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060376,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060377,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060378,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060379,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060380,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060381,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060382,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060383,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060384,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060385,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060386,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060387,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060388,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060389,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060390,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060391,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060392,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060393,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060394,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df.drop_duplicates(keep='first',inplace=True)

In [71]:
df

,cik,isBase,FY,count,totcount,percent,conm_x,at,intan,rank,au,auop,sic,sid,conm_y,COUNT_WEAK,NOTEFF_OTHER
0,1750,false,2015.0,78.0,406,19.2118,AAR CORP,1442.100,168.600,1.0,6.0,1.0,5080.0,18.0,18.0,0.0,0.0
2,1750,false,2016.0,73.0,379,19.2612,AAR CORP,1504.100,162.600,1.0,6.0,1.0,5080.0,18.0,18.0,0.0,0.0
4,1750,false,2017.0,62.0,367,16.8937,AAR CORP,1524.700,157.100,1.0,6.0,1.0,5080.0,12.0,12.0,0.0,0.0
6,1800,false,2015.0,65.0,443,14.6727,ABBOTT LABORATORIES,41247.000,15200.000,1.0,4.0,4.0,2834.0,64.0,64.0,0.0,0.0
8,1800,false,2016.0,54.0,425,12.7059,ABBOTT LABORATORIES,52666.000,12222.000,1.0,4.0,1.0,2834.0,43.0,43.0,0.0,0.0
10,1800,false,2017.0,52.0,408,12.7451,ABBOTT LABORATORIES,76250.000,45493.000,1.0,4.0,1.0,2834.0,22.0,22.0,0.0,0.0
12,1961,false,2015.0,66.0,166,39.759,WORLDS INC,0.026,0.000,1.0,9.0,4.0,7370.0,3.0,3.0,0.0,0.0
13,1961,false,2016.0,48.0,123,39.0244,WORLDS INC,0.093,0.000,1.0,9.0,4.0,7370.0,2.0,2.0,0.0,0.0
14,1961,false,2017.0,50.0,142,35.2113,WORLDS INC,0.184,0.000,1.0,9.0,4.0,7370.0,1.0,1.0,0.0,0.0
15,2034,false,2015.0,32.0,291,10.9966,ACETO CORP,489.774,146.867,1.0,11.0,1.0,5160.0,27.0,27.0,0.0,0.0
17,2034,false,2016.0,38.0,332,11.4458,ACETO CORP,540.778,146.942,1.0,11.0,1.0,5160.0,27.0,27.0,0.0,0.0
19,2034,false,2017.0,35.0,333,10.5105,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0,18.0,18.0,1.0,5.0
20,2034,false,2017.0,35.0,333,10.5105,ACETO CORP,1038.185,522.051,1.0,11.0,1.0,5160.0,18.0,18.0,0.0,0.0
23,2098,false,2015.0,11.0,246,4.47154,ACME UNITED CORP,81.421,13.357,1.0,9.0,1.0,3420.0,12.0,12.0,0.0,0.0
24,2098,false,2016.0,12.0,263,4.56274,ACME UNITED CORP,92.066,17.936,1.0,9.0,1.0,3420.0,8.0,8.0,0.0,0.0
25,2098,false,2017.0,19.0,259,7.33591,ACME UNITED CORP,114.730,22.578,1.0,9.0,1.0,3420.0,4.0,4.0,0.0,0.0
27,2178,false,2015.0,62.0,295,21.0169,ADAMS RESOURCES & ENERGY INC,243.215,0.000,1.0,5.0,4.0,5172.0,15.0,15.0,0.0,0.0
29,2178,false,2016.0,63.0,311,20.2572,ADAMS RESOURCES & ENERGY INC,246.872,0.000,1.0,5.0,1.0,5172.0,10.0,10.0,1.0,5.0
31,2178,false,2017.0,35.0,207,16.9082,ADAMS RESOURCES & ENERGY INC,282.704,0.000,1.0,6.0,1.0,5172.0,5.0,5.0,0.0,0.0
33,2186,false,2015.0,38.0,209,18.1818,BK TECHNOLOGIES CORP,39.449,0.370,1.0,22.0,1.0,3663.0,6.0,6.0,0.0,0.0
34,2186,false,2016.0,41.0,219,18.7215,BK TECHNOLOGIES CORP,42.544,0.176,1.0,22.0,1.0,3663.0,4.0,4.0,0.0,0.0
35,2186,false,2017.0,36.0,218,16.5138,BK TECHNOLOGIES CORP,42.801,NaN,1.0,22.0,1.0,3663.0,2.0,2.0,0.0,0.0
36,2488,false,2015.0,50.0,382,13.089,ADVANCED MICRO DEVICES,3109.000,467.000,1.0,4.0,1.0,3674.0,30.0,30.0,0.0,0.0
38,2488,false,2016.0,60.0,416,14.4231,ADVANCED MICRO DEVICES,3321.000,521.000,1.0,4.0,1.0,3674.0,20.0,20.0,0.0,0.0
40,2488,false,2017.0,35.0,341,10.2639,ADVANCED MICRO DEVICES,3540.000,528.000,1.0,4.0,1.0,3674.0,10.0,10.0,0.0,0.0
42,2809,false,2016.0,82.0,272,30.1471,AGNICO EAGLE MINES LTD,7107.951,696.809,1.0,4.0,1.0,1040.0,32.0,32.0,0.0,0.0
44,2969,false,2015.0,65.0,597,10.8878,AIR PRODUCTS & CHEMICALS INC,17438.100,1639.600,1.0,6.0,1.0,2810.0,35.0,35.0,0.0,0.0
46,2969,false,2016.0,88.0,637,13.8148,AIR PRODUCTS & CHEMICALS INC,18055.300,1638.200,1.0,6.0,1.0,2810.0,32.0,32.0,0.0,0.0
49,2969,false,2017.0,79.0,597,13.2328,AIR PRODUCTS & CHEMICALS INC,18467.200,1089.800,1.0,6.0,1.0,2810.0,20.0,20.0,0.0,0.0
51,3116,false,2015.0,80.0,427,18.7354,AKORN INC,2112.710,1149.699,1.0,11.0,1.0,2834.0,6.0,6.0,9.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45403,1.69802e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45404,1.69829e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45406,1.69852e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0
45407,1.69883e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0
45408,1.70249e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45409,1.70318e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45410,1.70325e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0
45411,1.7048e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0
45412,1.70522e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0
45413,1.70544e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0
45414,1.70791e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0
45415,1.70947e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45416,1.70948e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45417,1.70952e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45418,1.70954e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45419,1.70956e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45420,1.70959e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45421,1.70959e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45422,1.70977e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45423,1.71148e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45424,1.71163e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45425,1.71174e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45426,1.71254e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45427,1.71381e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0
45428,1.71563e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45429,1.71656e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45430,1.71731e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45431,1.72178e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45432,1.72612e+06,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
45434,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df.to_csv('/content/gdrive/My Drive/Colab Notebooks/DF.csv')